@import '../node_modules/normalize.css/normalize.css';

$comic-sans = Comic Sans, Comic Sans MS;

$menu-bar-height = 30px;
$menu-bar-color = #333;

html, body {
    width: 100%;
    height: 100%;
}

#app, #app > .app {
    width: 100%;
    height: 100%;
}
#app > .app {
    font-family: $comic-sans;
    > .menu-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $menu-bar-height;
        background-color: $menu-bar-color;
        color: ($menu-bar-color > gray) ? black : white;
        button {
            background-color: #666;
            border: none;
        }
    }
    > .workbench {
        position: fixed;
        top: $menu-bar-height;
        width: 100%;
        height: 'calc(100% - %s)' % $menu-bar-height;
        background-color: white;
        > .layers {
            position: absolute;
            outline: 1px solid black;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            > .layer {
                position: absolute;
                overflow: visible;
            }
        }
    }
}
